0x00-python-hello_world/main.py
0x00-python-hello_world/10-main.c
0x00-python-hello_world/10-linked_lists.c
0x00-python-hello_world/cycle
Test/calculator.py
Test
0x01-python-if_else_loops_functions/13-main.c
0x01-python-if_else_loops_functions/insert
0x01-python-if_else_loops_functions/linked_lists.c
