0x00-python-hello_world/main.py
0x00-python-hello_world/10-main.c
0x00-python-hello_world/10-linked_lists.c
0x00-python-hello_world/cycle
Test/calculator.py
Test
0x01-python-if_else_loops_functions/13-main.c
0x01-python-if_else_loops_functions/insert
0x01-python-if_else_loops_functions/linked_lists.c
0x02-python-import_modules/add_0.py
0x02-python-import_modules/__pycache__/add_0.cpython-38.pyc
0x03-python-data_structures/0-main.py
0x03-python-data_structures/__pycache__/0-print_list_integer.cpython-38.pyc
0x03-python-data_structures/1-main.py
0x03-python-data_structures/__pycache__/1-element_at.cpython-38.pyc
0x02-python-import_modules/__pycache__/0-add.cpython-38.pyc
0x02-python-import_modules/0-import_add.py
0x02-python-import_modules/calculator_1.py
0x02-python-import_modules/__pycache__/calculator_1.cpython-38.pyc
